/*渐变*/
@keyframes gradient-animation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

body {
    background: linear-gradient(135deg, #f8b5da, #89acf0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    animation: gradient-animation 10s infinite linear;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: black; /* 保持输入框文字颜色稳定 */
    background-color: white; /* 设置输入框背景色以确保其不受背景色影响 */
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #999; /* 占位符文字颜色 */
}

button {
    background: linear-gradient(to right, #f8b5da, #89acf0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #9797d7, #b8b8e6);
}

a {
    color: #b8b8e6; /* 链接颜色 */
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline; /* 鼠标悬停时的样式 */
}